* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style global pour la page */
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  main {
    margin: 0 auto;
  }
  
  h1 {
    color: green;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

 .dashboard-body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

  
 
  
  
