* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style global pour la page */
  body {
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  main {
    margin: 0 auto;
  }
  
  h1 {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  
  /* Style pour le favicon */
  /* Note : vous devez fournir votre propre fichier favicon.ico */
  /* La ligne suivante supprime le texte alternatif pour les utilisateurs d'accessibilité, car l'icône est suffisamment descriptive */
  img[src="/favicon.ico"] {
    height: 2rem;
    width: 2rem;
  }


.filter-input{ 
  display: flex;
  padding: 5rem;
  gap: 10vh;
}

.project-filter {
  display: flex;
  gap: 1rem;
}

.request-filter {
  display: flex;
  gap: 1rem;
}

.container {
  border: 1px solid black;
  display: inline-flex;
  padding: 5rem;
  width: 100%;
  gap: 40vh;
  background-color: bisque;
}

.query {
  border: 1px solid black;
  display: flex;
  gap: 40vh;
  background-color: aqua;

}

.examples {
  border: 1px solid black;
  background-color: blueviolet;
}

.response-fr{
  margin: 2rem;
}